[submodule "external/chip-8-database"]
	path = external/chip-8-database
	url = https://github.com/chip-8/chip-8-database.git
[submodule "external/chip8-test-suite"]
	path = external/chip8-test-suite
	url = https://github.com/Timendus/chip8-test-suite.git
